{%include 'head.html'%}

<body>
    <style>
        .cid-u3uk6wdgO8 {
            padding-top: 6rem;
            padding-bottom: 6rem;
            background-color: transparent;
        }

        .cid-u3uk6wdgO8 .mbr-overlay {
            background-color: #ffffff;
            opacity: 0.4;
        }

        .cid-u3uk6wdgO8 form .mbr-section-btn {
            text-align: center;
            width: 100%;
        }

        .cid-u3uk6wdgO8 form .mbr-section-btn .btn {
            display: inline-flex;
        }

        @media (max-width: 991px) {
            .cid-u3uk6wdgO8 form .mbr-section-btn .btn {
                width: 100%;
            }
        }

        .cid-u3uk6wdgO8 .content-head {
            max-width: 800px;
        }
    </style>
    <section class="form5 cid-u3uk6wdgO8" id="contact-form-2-u3uk6wdgO8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Tell Me About Your</strong>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="/status" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        <!-- <input type="hidden" name="email" data-form-email="true" value=""> -->
                        <div class="row">
                            <!-- <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for
                                filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div> -->
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <select name="gender" placeholder="gender" data-form-field="gender" class="form-control"
                                    value="" id="gender">
                                    <option value="none" selected disabled hidden style="color: #b3c8d9;">Select an
                                        Gender</option>
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>

                            <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                                <select name="Marrage" placeholder="Marrage" data-form-field="Marrage"
                                    class="form-control" value="" id="Marrage">
                                    <option value="none" selected disabled hidden>Select an Married</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>

                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <select name="Self_Employed" placeholder="Self_Employed" data-form-field="Self_Employed"
                                    class="form-control" value="" id="Self_Employed">
                                    <option value="none" selected disabled hidden>Select an Employed status</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <input type="number" name="ApplicantIncome" placeholder="ApplicantIncome"
                                    data-form-field="ApplicantIncome" class="form-control" value="" id="ApplicantIncome">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <input type="number" name="CoapplicantIncome" placeholder="CoapplicantIncome"
                                    data-form-field="CoapplicantIncome" class="form-control" value=""
                                    id="CoapplicantIncome">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                                <input type="number" name="LoanAmount" placeholder="LoanAmount"
                                    data-form-field="LoanAmount" class="form-control" value="" id="LoanAmount">
                            </div>

                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <select name="Dependents" placeholder="Dependents" data-form-field="Dependents"
                                    class="form-control" value="" id="Dependents">
                                    <option value="none" selected disabled hidden>Select Dependents</option>
                                    <option value="1">1</option>
                                    <option value="0">0</option>
                                    <option value="2">2</option>
                                    <option value="3">3+</option>

                                </select>
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3 pb-3 p-1" data-for="email">
                                <select name="Education" placeholder="Education" data-form-field="Education"
                                    class="form-control" value="" id="Education">
                                    <option value="none" selected disabled hidden>Select an Education</option>
                                    <option value="1">Not Graduate</option>
                                    <option value="0">Graduate</option>
                                </select>
                            </div>


                            <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                                <select name="Property_Area" placeholder="Property_Area" data-form-field="Property_Area"
                                    class="form-control" value="" id="Property_Area">
                                    <option value="none" selected disabled hidden>Select Property Area</option>
                                    <option value="0">Rural</option>
                                    <option value="2">Urban</option>
                                    <option value="1">Semiurban</option>

                                </select>
                            </div>

                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <input type="number" name="Credit_History" placeholder="Credit_History"
                                    data-form-field="Credit_History" class="form-control" value="" id="Credit_History">
                            </div>

                            <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                                <input type="number" name="Loan_Amount_Term" placeholder="Loan_Amount_Term"
                                    data-form-field="Loan_Amount_Term" class="form-control" value=""
                                    id="Loan_Amount_Term">
                            </div>
                        </div>
                        <div class="dragArea row">

                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <input type="submit" class="btn btn-primary display-7" value="Predict" />

                            </div>
                        </div>

                    </form>
                    <!-- <form action="/status" method="post">
                        <input type="submit" value="kjdk" class="btn btn-primary display-7">
                    </form> -->
                </div>
            </div>
        </div>
    </section>
    <style>
        .cid-u3uk6wdk8S {
            padding-top: 6rem;
            padding-bottom: 6rem;
            background-color: transparent;
        }

        .cid-u3uk6wdk8S .mbr-fallback-image.disabled {
            display: none;
        }

        .cid-u3uk6wdk8S .mbr-fallback-image {
            display: block;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }

        .cid-u3uk6wdk8S .row {
            justify-content: center;
        }

        .cid-u3uk6wdk8S .item {
            margin-bottom: 2rem;
        }

        @media (max-width: 767px) {
            .cid-u3uk6wdk8S .item {
                margin-bottom: 1rem;
            }
        }

        .cid-u3uk6wdk8S .item .item-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            background: #ffffff;
            padding: 2.25rem;
        }

        @media (min-width: 992px) and (max-width: 1200px) {
            .cid-u3uk6wdk8S .item .item-wrapper {
                padding: 2rem 1.5rem;
            }
        }

        @media (max-width: 767px) {
            .cid-u3uk6wdk8S .item .item-wrapper {
                padding: 2rem 1.5rem;
            }
        }

        .cid-u3uk6wdk8S .content-head {
            max-width: 800px;
        }
    </style>
    <section class="contacts01 cid-u3uk6wdk8S" id="contacts-1-u3uk6wdk8S">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Contact Us</strong>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-without-image col-12 col-md-6 active">
                    <div class="item-wrapper">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style mb-3 display-5">
                                <strong>Phone</strong>
                            </h6>
                            <p class="mbr-text mbr-fonts-style display-7">
                                <a href="tel:123-456-7890" class="text-black">+91 9136362029</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6">
                    <div class="item-wrapper">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style mb-3 display-5">
                                <strong>Email</strong>
                            </h6>
                            <p class="mbr-text mbr-fonts-style display-7">
                                <a href="mailto:contact@loanstatusaiweb.com"
                                    class="text-black">paswansusshy21bit@student.mes.ac.in</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6">
                    <div class="item-wrapper">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style mb-3 display-5">
                                <strong>Address</strong>
                            </h6>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Mumbai India
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6">
                    <div class="item-wrapper">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style mb-3 display-5">
                                <strong>Working Hours</strong>
                            </h6>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Mon-Fri: 9pm-3am
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .cid-u3uk6wdGbM {
            padding-top: 6rem;
            padding-bottom: 6rem;
            background-color: #000000;
        }

        .cid-u3uk6wdGbM .social-row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .cid-u3uk6wdGbM .social-row .soc-item {
            margin: 8px;
        }

        .cid-u3uk6wdGbM .social-row .soc-item a:hover .mbr-iconfont,
        .cid-u3uk6wdGbM .social-row .soc-item a:focus .mbr-iconfont {
            background-color: #ffffff;
        }

        .cid-u3uk6wdGbM .social-row .soc-item a .mbr-iconfont {
            width: 72px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            font-size: 32px;
            background-color: #edefeb;
            color: #000000;
            transition: all 0.3s ease-in-out;
        }

        .cid-u3uk6wdGbM .row-links {
            width: 100%;
            justify-content: center;
        }

        .cid-u3uk6wdGbM .header-menu {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0;
            margin-bottom: 0;
        }

        .cid-u3uk6wdGbM .header-menu li {
            padding: 0 1rem 1rem 1rem;
        }

        .cid-u3uk6wdGbM .header-menu li p {
            margin: 0;
        }

        .cid-u3uk6wdGbM .copyright {
            margin-bottom: 0;
            color: #ffffff;
            text-align: center;
        }

        .cid-u3uk6wdGbM .mbr-section-title {
            color: #ffffff;
        }
    </style>
    <section class="footer3 cid-u3uk6wdGbM" once="footers" id="footer-3-u3uk6wdGbM">
        <div class="container">
            <div class="row">
                <!-- <div class="row-links">
                    <ul class="header-menu">
                        <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Home</a>
                        </li>
                        <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">About</a>
                        </li>
                        <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Services</a>
                        </li>
                        <li class="header-menu-item mbr-fonts-style display-5">
                            <a href="#" class="text-white">Contact</a>
                        </li>
                    </ul>
                </div> -->

                <div class="col-12 mt-4">
                    <div class="social-row">
                        <div class="soc-item">
                            <a href="https://x.com/sushh007" target="_blank">
                                <span class="mbr-iconfont socicon socicon-facebook display-7"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://x.com/sushh007" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.instagram.com/sushh.07" target="_blank">
                                <span class="mbr-iconfont socicon-instagram socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="www.linkedin.com/in/sushant07" target="_blank">
                                <span class="mbr-iconfont socicon socicon-linkedin"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="www.linkedin.com/in/sushant07" target="_blank">
                                <span class="mbr-iconfont socicon socicon-twitch"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-5">
                    <p class="mbr-fonts-style copyright display-7">
                        © 2024 sush.studio AI Web. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {%include 'js_export.html'%}

    <script>

        (function () {
            var animationInput = document.createElement('input');
            animationInput.setAttribute('name', 'animation');
            animationInput.setAttribute('type', 'hidden');
            document.body.append(animationInput);
        })();

    </script>
</body>

</html>