<script src="{{ url_for('static', filename='assets/parallax/jarallax.js') }}"></script>
<script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/dropdown/js/navbar-dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='assets/mbr-switch-arrow/mbr-switch-arrow.js') }}"></script>
<script src="{{ url_for('static', filename='assets/scrollgallery/scroll-gallery.js') }}"></script>
<script src="{{ url_for('static', filename='assets/smoothscroll/smooth-scroll.js') }}"></script>
<script src="{{ url_for('static', filename='assets/ytplayer/index.js') }}"></script>
<script src="{{ url_for('static', filename='assets/theme/js/script.js') }}"></script>
<script src="{{ url_for('static', filename='assets/formoid/formoid.min.js') }}"></script>